@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: #e6e6e6;
    min-height: 100vh;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    text-align: center;
}
.banner {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}
.banner-title {
    text-decoration: uppercase;
    font-size: 6em;
    background-image: url(https://thumbs.dreamstime.com/b/mesh-background-abstrato-azul-com-fundo-dos-c%C3%ADrculos-55717261.jpg);
    background-size: 800px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-description {
    color: #000;
    font-size: 1.3em;
    font-weight: 300;
}